@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$primary: rgb(88, 84, 84);
$secondary: rgb(244, 198, 254);
$bgc-grey: rgba(213, 217, 217, 0.5);

/* Mobiles */
$marginMobLR: 0 0;
$widthMob: 100%;

/* Tablets */
$marginTabLR: 0 auto;
$widthTab: 600px;

/* Laptops */
$marginLapLR: 0 auto;
$widthLap: 824px;

/* Desktops */
$marginDeskLR: 0 auto;
$widthDesk: 1200px;

/* 4k Desktops */
$margin4kDeskLR: 0 auto;
$width4kDesk: 2200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

body {
  min-width: 330px;
}

textarea {
  resize: vertical;
}

.hide {
  display: none;
}

/* Pages */

/* Home.tsx */

.home {
  background-color: #fff;
  margin: $marginMobLR;
  width: $widthMob;
}

.movies {
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

/* MovieForm.tsx */

.movieForm {
  background-color: #fff;
  margin: $marginMobLR;
  width: $widthMob;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 10px;
}

.movieForm-form {
  font-size: 13px;
}

.movieForm-form textarea {
  min-height: 150px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  color: #0f1111;
  padding: 1px 5px;
  outline: 0;
}

.movieForm-form-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movieForm-form-content span {
  margin-left: 150px;
}

.movieForm-form img {
  display: none;
}

.movieForm-loading {
  text-align: center;
}

.movieForm-loading p {
  font-weight: 300;
}

.save-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #f7fafa;
}

/* Components */

/* Header.tsx */

.header {
  background-color: $bgc-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5em;
  margin: $marginMobLR;
  width: $widthMob;
}

.header input {
  margin-right: 5px;
}

.header label {
  display: none;
}

.home-btn {
  border: 1px black solid;
  padding: 5px;
  border-radius: 10px;
  color: $primary;
  margin-left: 8px;
  font-size: 10px;
  line-height: 20px;
}

.home-btn:hover {
  background-color: $primary;
  color: #fff;
}

.search-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
  font-size: 10px;
  line-height: 20px;
  padding: 0 5px;
  margin-right: 0;
}

.search-btn:hover {
  background-color: #f7fafa;
}

.input-search {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  font-size: 10px;
  line-height: 20px;
  color: #0f1111;
  padding: 0 10px;
  outline: 0;
  margin-left: 5px;
}

.nav-user {
  margin-right: 10px;
}

.user-wrapper {
  display: flex;
  margin-left: 5px;
}

.user-wrapper a {
  display: flex;
  align-items: center;
}

.user-wrapper a:hover {
  display: flex;
  align-items: center;
  color: $primary;
}

.user-wrapper span {
  display: none;
}

.user-btns-login-signup .search-btn {
  line-height: 20px;
  font-size: 10px;
  padding: 5px;
}

.user-btns-login-signup .search-btn:hover {
  background-color: $primary;
}

.user-avatar {
  border: 1px solid $primary;
  background-color: $primary;
  border-radius: 100%;
  padding: 7px;
  color: #fff;
}

.user-avatar:hover {
  border: 1px solid $secondary;
  background-color: $secondary;
  border-radius: 100%;
  padding: 7px;
  color: #000;
}

/* MovieCard.tsx */

.cards {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  margin: $marginMobLR;
  width: $widthMob;
}

.card {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 150px;
  position: relative;
}

.card-link-img {
  text-align: center;
}

.card img {
  width: 150px;
  height: 230px;
  border-radius: 5px;
}

.card img:hover {
  width: 151px;
  height: 231px;
  box-shadow: 5px 7px 10px #888888;
}

.card-movie-title {
  font-weight: 400;
  width: 80%;
  text-align: center;
}

.card-link-added {
  display: flex;
  position: absolute;
  top: 20px;
  right: -20px;
  background-color: #fff;
  padding: 4px 5px 3px 5px;
  gap: 3px;
  border: 1px solid #1cd000;
  border-radius: 5px;
}
.card-link-added span {
  color: #1cd000;
}

/* MovieDetails.tsx */

.movie-details {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: start;
  margin: 0 20px;
}

.movie-details-preview {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  gap: 5px;
}

.movie-details-preview span {
  position: absolute;
  top: 0;
  right: 0;
}

.movie-details-preview span:hover {
  cursor: pointer;
  font-size: 27px;
  color: rgba(255, 0, 0, 0.8);
}

.movie-details img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

.movie-details img:hover {
  box-shadow: 5px 7px 10px #888888;
  width: 101px;
  height: 151px;
}

.movie-title {
  font-weight: 400;
  width: 80%;
}

.movie-review strong {
  font-weight: 300;
}

/* Media */

/* small tablets */
@media screen and (min-width: 620px) {
  /* Pages */
  .home {
    margin: $marginTabLR;
    width: $widthTab;
  }
  .movieForm {
    margin: $marginTabLR;
    width: $widthTab;
    display: block;
    padding-top: 20px;
  }
  .movieForm-form {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
  }
  .movieForm-form img {
    height: 300px;
    width: 200px;
    border-radius: 5px;
    display: block;
  }
  .movieForm-form-content {
    margin-left: 20px;
  }
  .movieForm-form textarea {
    min-height: 180px;
    width: 280px;
  }
  .movieForm-form-content span {
    margin-left: 220px;
  }
  /* Components */
  .header input {
    margin-left: 10px;
  }
  .cards {
    grid-template-columns: 1fr;
    margin: $marginTabLR;
    width: $widthTab;
  }
  .movies {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .header {
    margin: $marginTabLR;
    width: $widthTab;
    justify-content: space-between;
    padding: 0 50px;
  }
  .header label {
    display: contents;
  }
}

/* large tablets and laptops */
@media screen and (min-width: 960px) {
  /* Pages */
  .home {
    margin: $marginLapLR;
    width: $widthLap;
  }
  .movieForm {
    margin: $marginLapLR;
    width: $widthLap;
    padding-top: 40px;
  }
  .movieForm-form {
    margin-left: 120px;
  }
  .movieForm-form-content {
    margin-left: 30px;
  }
  .movieForm-form textarea {
    width: 380px;
  }
  .movieForm-form-content span {
    margin-left: 320px;
  }
  /* Components */
  .cards {
    grid-template-columns: 1fr 1fr;
    margin: $marginLapLR;
    width: $widthLap;
  }
  .movies {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    margin: $marginLapLR;
    width: $widthLap;
  }
  .movie-details img {
    width: 120px;
    height: 180px;
  }
  .movie-details img:hover {
    width: 121px;
    height: 181px;
  }
}

/* dekstop */
@media screen and (min-width: 1200px) {
  /* Pages */
  .home {
    margin: $marginDeskLR;
    width: $widthDesk;
  }
  .movieForm {
    margin: $marginDeskLR;
    width: $widthDesk;
  }
  .movieForm-form {
    margin-left: 220px;
  }
  .movieForm-form-content {
    margin-left: 40px;
  }
  .movieForm-form textarea {
    width: 480px;
  }
  .movieForm-form-content span {
    margin-left: 420px;
  }

  /* Components */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin: $marginDeskLR;
    width: $widthDesk;
  }
  .movies {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    margin: $marginDeskLR;
    width: $widthDesk;
  }
  .movie-details img {
    width: 200px;
    height: 300px;
  }
  .movie-details img:hover {
    width: 201px;
    height: 301px;
  }
}
/* 4k dekstop */
@media screen and (min-width: 2400px) {
  /* Pages */
  .home {
    margin: $margin4kDeskLR;
    width: $width4kDesk;
  }
  .movieForm {
    margin: $margin4kDeskLR;
    width: $width4kDesk;
  }
  .movieForm-form {
    margin-left: 720px;
  }
  .movieForm-form-content {
    margin-left: 50px;
  }
  .movieForm-form textarea {
    width: 580px;
  }
  .movieForm-form-content span {
    margin-left: 520px;
  }

  /* Components */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin: $margin4kDeskLR;
    width: $width4kDesk;
  }
  .movies {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header {
    margin: $margin4kDeskLR;
    width: $width4kDesk;
  }
  .movie-details img {
    width: 200px;
    height: 300px;
  }
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  border: 1px black solid;
  padding: 5px;
  border-radius: 10px;
  color: $primary;
  margin-left: 8px;
}

nav a:hover {
  background-color: $primary;
  color: #fff;
}

/* auth forms */
form.signup,
form.login {
  line-height: 30px;
  max-width: 400px;
  margin: 40px auto;
  padding: 5em 1em;
  background-color: $bgc-grey;
  border-radius: 4px;
}

form.signup h3,
form.login h3 {
  font-weight: 400;
}

